html,
body {  
  padding: 0;
  margin: 0;
  background-color:  #d6d6f7;
}

.app{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 6rem;
}

.home-div{
  width: 20rem;
  height: 25rem;
  background-color: #662d91;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cube-icon{
  font-size: 5rem;
  color: #ececf8;
  position: relative;
  top: -3.5rem;
}

.title{
  position: relative;
  top: -4.5rem;
  color: #ececf8;
}

.play-button{
  width: 10rem;
  height: 3rem;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  background-color:  #ececf8;
  color: #662d91;
  position: relative;
  top: 3rem;
}

.play-button:hover,
.play-button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.question{
  color: white;
  font-size: 1.3rem;
  width: 15rem;
  height: 2rem;
  position: relative;
  top: -3rem;
  left: 0.6rem;
}

.options-container{
  width: 15rem;
  display: grid;
  grid-template-columns: auto auto ;
  position: relative;
  top: 2rem;
  left: 0.3rem;
}

.options{
  color:  #662d91;
  font-size: 1rem;
  width: 6rem;
  height: 2.5rem;
  background-color:  #d6d6f7;
  align-self: center;
  border-radius: 0.3rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button{
  position: relative;
  top: 10rem;
  width: 7rem;
  height: 3rem;
  border-radius: 0.4rem;
  border: none;
  background-color: #662d91;
  color: white;
  cursor: pointer;
}